body {
    font-family: Arial;
    margin: 0;
}

header {
    background: linear-gradient(to right, blue, purple);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #333;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

/* Flexbox */
#projects {
    display: flex;
    flex-direction: column;
}

/* Animation */
button {
    transition: 0.3s;
}
button:hover {
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}